* {
    padding: 0;
    margin: 0;
    background-color: rgb(33, 56, 56);
}

p {
    margin: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    text-align: justify;
    text-justify: inter-word;
    color: ivory;
}

a {
    text-decoration: none;
    color: firebrick;
    font-weight: bold;
}